---
import Head from '@layouts/Head.astro'
import Header from '@layouts/Header.astro'
import Footer from '@layouts/Footer.astro'
import NavDrawer from '@components/navigation/NavDrawer.astro'
import siteData from '@configs/siteData.json'
export interface Props {
	title: string
	desc: string
}

const { title = siteData.siteName, desc = siteData.siteDescription } =
	Astro.props

// スタイルシートのインポート
import '@stylesCss/no-bundle/styles.css'
import Menu from '@layouts/Menu.astro'

const mainClass = 'container mx-auto px-global max-w-screen-2xl'
---

<!doctype html>
<html lang='ja'>
	<Head title={title} desc={desc} />
	<body>
		<Header />
		<NavDrawer />
		<main class={mainClass}>
			<div class='mt-6'></div>
			<Menu />
			<slot />
			<Menu />
			<div class='mt-6'>
				<a href='/' class='btn-base btn-link btn-sm theme-inverse no-default'>
					← back to css-summoner
				</a>
			</div>
		</main>
		<Footer />
		<script src='../../ui/scripts/ui-controller.js'></script>
	</body>
</html>
