---
import ThemeSwitcher from '@components/astro/ThemeSwitcher.astro'
import siteData from '@configs/siteData.json'

const { title = siteData.siteName } = Astro.props
---

<header
	class='flex items-center justify-between sticky top-0 z-50 p-4 text-neutral bg-neutral-dark'
>
	<h1 class='text-xl font-bold text-neutral-100'>{title}</h1>
	<ThemeSwitcher />
</header>
