---
import Footer from '@layouts/Footer.astro'
import Head from '@layouts/Head.astro'
import Header from '@layouts/Header.astro'
import Menu from '@layouts/Menu.astro'
import siteData from '@configs/siteData.json'

// スタイルシートのインポート
import '@stylesCss/styles.css'

export interface Props {
	title: string
	desc: string
}

const { title = siteData.siteName, desc = siteData.siteDescription } =
	Astro.props

const mainClass = 'container mx-auto px-global py-global max-w-screen-2xl'
---

<html lang='ja'>
	<Head title={title} desc={desc} />
	<body>
		<Header />
		<main class={mainClass}>
			<slot />
			<Menu />
		</main>

		<Footer />
	</body>
</html>
