# ビルド出力
dist/
.output/

# 依存関係
node_modules/

# ログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 環境変数
.env
.env.production
.env.local
.env.development

# エディタ設定
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS関連
.DS_Store

# Astro関連
.astro/

# キャッシュ
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo
*.bak

# テスト関連
coverage/

# 一時ファイル
tmp/
temp/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

.pnp.*

#ai
.clinerules
.clinerules.bak
.rooignore
.roo/
.roomodes
ai-database/

handler-manifest.json
todo.md
.gitmodules