---
// src/css-summoner/components/astro/ExamplePreview.astro
// 使用例のリストを表示するためのコンポーネント

interface ExampleData {
	exampleHtml: string // プレビュー表示用のHTML文字列
	index: number // 例のインデックス
}

interface Props {
	examples: ExampleData[] // 使用例データの配列
}

const { examples = [] } = Astro.props // デフォルト値 [] を設定
---

{/* Flexboxコンテナで縦に並べる */}
<div class='flex flex-col gap-4'>
	{
		examples.length > 0 ? (
			examples.map((example, index) => (
				<div>
					{' '}
					{/* key={index} を削除 */}
					{/* HTMLを直接レンダリング */}
					<Fragment set:html={example.exampleHtml} />
					<div>
						<code>{example.exampleHtml}</code>
					</div>
				</div>
			))
		) : (
			<p class='text-neutral-500'>使用例はありません。</p>
		)
	}
</div>
