---
export interface Props {
	title: string
	desc: string
}

const { title = 'title', desc = 'description' } = Astro.props

// スタイルシートのインポート
import '@stylesCss/styles.css'
//import '@stylesCss/all-components.css'

const mainClass = 'container mx-auto px-global max-w-screen-2xl'
---

<!doctype html>
<html lang='ja'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{title}</title>
		<meta name='description' content={desc} />
	</head>
	<body>
		<header>header-aria</header>
		<main class={mainClass}>
			<slot />
		</main>
		<footer>footer-aria</footer>
	</body>
</html>
