@layer base {
	html {
		font-feature-settings: 'pkna' 1;
		overflow-wrap: break-word;
		line-break: strict;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;

		@apply text-[16px] md:text-[16px] lg:text-[18px] overflow-x-hidden;
	}

	body {
		font-family: var(--font);
		font-feature-settings: 'pkna' 1;
		color: var(--foreground);
		background-color: var(--background);
		line-height: 1.75;
		letter-spacing: 0.03em;
		overflow-wrap: break-word;
		line-break: strict;
		text-size-adjust: 100%;

		@apply text-base transition-colors duration-300 ease-in-out;
	}

	a:not([class*='no-default']) {
		@apply text-primary-dark transition-colors;
	}

	a:not([class*='no-default']):hover {
		@apply text-primary transition-colors;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-medium;
	}
	h2,
	h3,
	h4 {
		@apply font-bold leading-loose tracking-wide;
	}

	pre {
		max-height: 600px;
	}

	code {
		overflow-x: auto;
		display: block;
	}

	hr {
		@apply my-6;
	}
}
