@layer base {
	:root {
		--form-font-family: var(--font, sans-serif);
		--form-border-radius: 0.375rem;
		--form-border-width: 1px;
		--form-padding-x: 0.75rem;
		--form-padding-y: 0.5rem;
		--form-font-size: 1rem;
		--form-line-height: 1.5;
	}

	/* 
   * @component: form
   * @variant: base
   * @description: フォーム関連のベーススタイル。フォーム要素のベースとなるスタイルを定義します。
   * @category: form-controls
   * @example: <input class="form-base" placeholder="プレースホルダーテキスト"></input>
   */
	.form-base {
		--form-input-bg-color: color-mix(
			in srgb,
			var(--component-color),
			transparent 90%
		);

		font-family: var(--form-font-family);
		font-size: var(--form-font-size);
		line-height: var(--form-line-height);
		color: var(--component-text);
		background-color: var(--form-input-bg-color);
		border: var(--form-border-width) solid
			var(--component-border, var(--neutral));
		border-radius: var(--form-border-radius);
		padding: var(--form-padding-y) var(--form-padding-x);
		transition:
			border-color 0.2s ease-in-out,
			box-shadow 0.2s ease-in-out;
	}

	.form-field {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
	}

	.form-field-inline {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
	}

	.form-search-container {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
	}
}
