@layer utilities {
	.form-checkbox.form-checkbox-square:checked::after {
		content: '';
		position: absolute;
		display: block;
		background-color: white;
		top: 50%;
		left: 50%;
		width: 0.5rem;
		height: 0.5rem;
		transform: translate(-50%, -50%);
	}

	.form-checkbox.form-checkbox-square:checked {
		background-image: none;
	}

	.form-xs {
		@apply text-xs;
		padding: 0.125rem 0.375rem;

		&.form-checkbox,
		&.form-radio {
			width: 0.875rem;
			height: 0.875rem;
			aspect-ratio: 1;
			padding: 0;
		}

		&.form-select {
			padding: 0.5rem;
			padding-right: 2rem;
		}
	}
	.form-sm {
		@apply text-sm;
		padding: 0.25rem 0.5rem;

		&.form-checkbox,
		&.form-radio {
			width: 1rem;
			height: 1rem;
			aspect-ratio: 1;
			padding: 0;
		}
		&.form-select {
			padding: 0.5rem;
			padding-right: 2rem;
		}
	}

	.form-md {
		@apply text-md;
		padding: 0.375rem 0.75rem;

		&.form-checkbox,
		&.form-radio {
			width: 1.25rem;
			height: 1.25rem;
			aspect-ratio: 1;
			padding: 0;
		}
		&.form-select {
			padding: 0.5rem;
			padding-right: 2.5rem;
		}
	}

	.form-lg {
		@apply text-lg;
		padding: 0.5rem 1rem;

		&.form-checkbox,
		&.form-radio {
			width: 1.5rem;
			height: 1.5rem;
			aspect-ratio: 1;
			padding: 0;
		}
		&.form-select {
			padding: 0.5rem;
			padding-right: 3rem;
		}
	}

	.form-xl {
		@apply text-xl;
		padding: 0.75rem 1.5rem;

		&.form-checkbox,
		&.form-radio {
			width: 1.75rem;
			height: 1.75rem;
			aspect-ratio: 1;
			padding: 0;
		}
		&.form-select {
			padding: 0.5rem;
			padding-right: 2rem;
		}
	}

	.form-checkbox,
	.form-radio {
		&.rounded {
			border-radius: 0.25rem;
		}
		&.rounded-sm {
			border-radius: 0.125rem;
		}
		&.rounded-lg {
			border-radius: 0.5rem;
		}
		&.rounded-xl {
			border-radius: 1rem;
		}
		&.rounded-full {
			border-radius: 9999px;
		}
	}

	.form-checkbox:checked {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
	}

	.form-checkbox:checked,
	.form-radio:checked {
		background-color: var(--component-active-color, var(--component-color));
		border-color: var(--component-active-color, var(--component-color));
		position: relative;
	}

	.form-success {
		color: var(--success-text, var(--success, green)) !important;
	}
	.form-error {
		color: var(--error-text, var(--error, red)) !important;
	}

	@media print {
		.form-input,
		.form-select,
		.form-textarea {
			border-color: #000;
			background-color: transparent;
		}

		.form-checkbox,
		.form-radio {
			border-color: #000;
		}
	}
}
