

@layer utilities {
	
	.badge-xs {
		font-size: var(--badge-font-size-xs);
		padding: var(--badge-padding-y-xs) var(--badge-padding-x-xs);
	}

	.badge-sm {
		font-size: var(--badge-font-size-sm);
		padding: var(--badge-padding-y-sm) var(--badge-padding-x-sm);
	}

	.badge-md {
		font-size: var(--badge-font-size);
		padding: var(--badge-padding-y) var(--badge-padding-x);
	}

	.badge-lg {
		font-size: var(--badge-font-size-lg);
		padding: var(--badge-padding-y-lg) var(--badge-padding-x-lg);
	}

	.badge-icon {
		display: inline-block; 
		width: 1em; 
		height: 1em; 
		vertical-align: middle; 
		fill: currentColor; 
	}

	.badge-icon-left {
		
		gap: 0.4em;
	}
	.badge-icon-left .badge-icon:first-child {

	}

	.badge-icon-right {
		
		gap: 0.4em;
		flex-direction: row-reverse; 
	}
	.badge-icon-right .badge-icon:last-child {

	}

	.badge-icon-only {
		padding: 0.5em; 
		
	}

	.badge-icon-only.rounded-full {
		aspect-ratio: 1 / 1;
		justify-content: center;
		align-items: center;
	}
}
