/* src/css-summoner/styles/badge/utilities.css */

@layer utilities {
	/* ----- サイズバリエーション ----- */
	.badge-xs {
		font-size: var(--badge-font-size-xs);
		padding: var(--badge-padding-y-xs) var(--badge-padding-x-xs);
	}

	.badge-sm {
		font-size: var(--badge-font-size-sm);
		padding: var(--badge-padding-y-sm) var(--badge-padding-x-sm);
	}

	.badge-md {
		font-size: var(--badge-font-size);
		padding: var(--badge-padding-y) var(--badge-padding-x);
	}

	.badge-lg {
		font-size: var(--badge-font-size-lg);
		padding: var(--badge-padding-y-lg) var(--badge-padding-x-lg);
	}

	/* --- アイコンのみ --- */

	.badge-icon-only {
		padding: 0.5em; /* Adjust padding for icon-only */
		/* aspect-ratio: 1 / 1; /* Optional: force square shape if needed */
	}
	.badge-rounded-full {
		border-radius: var(--badge-border-radius-full);
		aspect-ratio: 1 / 1;
	}
}
