@layer utilities {
	.abs-center {
		position: absolute;
		inset: 0;
		margin: auto;
	}

	.tran-200 {
		transition-duration: 0.2s;
	}

	.tran-300 {
		transition-duration: 0.3s;
	}

	.tran-500 {
		transition-duration: 0.5s;
	}

	.animate-down {
		transition: transform 0.2s ease;
	}

	.animate-down:hover {
		transform: translateY(2px);
	}
}
