@layer utilities {

	.tooltip-bottom {
		&::after {
			top: calc(100% + var(--tooltip-arrow-size) + var(--tooltip-distance));
			bottom: auto;
			left: 50%;
			transform: translateX(-50%);
		}

		&::before {
			top: calc(100% + var(--tooltip-distance));
			bottom: auto;
			left: 50%;
			transform: translateX(-50%);
			border-top-width: 0;
			 
		}
	}

	.tooltip-left {
		&::after {
			top: 50%;
			right: calc(100% + var(--tooltip-arrow-size) + var(--tooltip-distance));
			bottom: auto;
			left: auto;
			transform: translateY(-50%);
		}

		&::before {
			top: 50%;
			right: calc(100% + var(--tooltip-distance));
			bottom: auto;
			left: auto;
			transform: translateY(-50%);
			border-right-width: 0;
			 
		}
	}

	.tooltip-right {
		&::after {
			top: 50%;
			left: calc(100% + var(--tooltip-arrow-size) + var(--tooltip-distance));
			bottom: auto;
			right: auto;
			transform: translateY(-50%);
		}

		&::before {
			top: 50%;
			left: calc(100% + var(--tooltip-distance));
			bottom: auto;
			right: auto;
			transform: translateY(-50%);
			border-left-width: 0;
			 
		}
	}

	.tooltip-sm {
		&::after {
			--tooltip-padding-x: 0.5rem; 
			--tooltip-padding-y: 0.25rem; 
			font-size: 0.75rem; 
		}
	}

	.tooltip-lg {
		&::after {
			--tooltip-padding-x: 1rem; 
			--tooltip-padding-y: 0.625rem; 
			font-size: 1rem; 
			min-width: 8rem;
		}

		&::before {
			--tooltip-arrow-size: 0.625rem;
		}
	}

	.tooltip-fade {
		&::after,
		&::before {
			transition-property: opacity, visibility;
		}
	}

	.tooltip-scale {
		&::after {
			transform-origin: center bottom;
			transform: translateX(-50%) scale(0.8);
			transition-property: opacity, visibility, transform;
		}

		&:hover::after {
			transform: translateX(-50%) scale(1);
		}

		&.tooltip-bottom::after {
			transform-origin: center top;
		}

		&.tooltip-left::after {
			transform-origin: right center;
			transform: translateY(-50%) scale(0.8);
		}

		&.tooltip-left:hover::after {
			transform: translateY(-50%) scale(1);
		}

		&.tooltip-right::after {
			transform-origin: left center;
			transform: translateY(-50%) scale(0.8);
		}

		&.tooltip-right:hover::after {
			transform: translateY(-50%) scale(1);
		}
	}

	.tooltip-always {
		&::after,
		&::before {
			@apply visible opacity-100;
		}
	}

	.tooltip-wide {
		&::after {
			min-width: var(--tooltip-max-width);
			text-align: left;
			white-space: normal;
		}
	}

	.tooltip-no-arrow {
		&::before {
			@apply hidden;
		}

		&::after {
			bottom: calc(100% + var(--tooltip-distance));
		}

		&.tooltip-bottom::after {
			top: calc(100% + var(--tooltip-distance));
			bottom: auto;
		}

		&.tooltip-left::after {
			right: calc(100% + var(--tooltip-distance));
		}

		&.tooltip-right::after {
			left: calc(100% + var(--tooltip-distance));
		}
	}

	.tooltip-base.tooltip-shadow-sm::after {
		box-shadow: var(--tooltip-shadow-sm);
	}
	.tooltip-base.tooltip-shadow::after {
		box-shadow: var(--tooltip-shadow);
	}
	 
	.tooltip-base.tooltip-shadow-lg::after {
		box-shadow: var(--tooltip-shadow-lg);
	}
}

@media print {
	
	.tooltip-base {
		&::after {
			 
			position: static !important;
			visibility: visible;
			opacity: 1;
			border-width: 1px; 
			transform: none !important;
			margin-left: 0.5rem;
			display: inline-block;
			box-shadow: none; 
		}

		&::before {
			 
			display: none;
		}
	}
}
